@model Cosmos.Cms.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;
}
<!DOCTYPE HTML>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    @Html.Raw(Model.Layout.Head)
    @*
    Page specific header
    *@
    @Html.Raw(Model.HeadJavaScript)
    @*
    Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <iframe id="ccmsIndexMenu" src="/Home/CcmsContentIndex" onload="ccmsSetupIndexMenu()" style="width:100%;height:60px;"></iframe>
    @Html.Raw(Model.Layout.HtmlHeader)
    @Html.Raw(Model.Content)
    @Html.Raw(Model.Layout.FooterHtmlContent)
    @Html.Raw(Model.FooterJavaScript)
    <script>
        // The following is used to wireup the menu links to this page.
        function ccmsSetupIndexMenu() {
            var iframe = document.getElementById("ccmsIndexMenu");
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                var anchors = iframeWin.document.querySelectorAll("a");
                anchors.forEach(function (el) {
                    el.onclick = function () {
                        window.location.href = el.href;
                    };
                });
            }
        };
    </script>
</body>
</html>