@model Cosmos.Cms.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;
    var menuUrl = $"/Home/CcmsContentIndex/{Model.Id}";
}
<!DOCTYPE HTML>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    @Html.Raw(Model.Layout.Head)
    @*
    Page specific header
    *@
    @Html.Raw(Model.HeadJavaScript)
    @*
    Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <iframe id="ccmsIndexMenu" src="@menuUrl" onload="ccmsSetupIndexMenu()" style="height:60px;width:100%;min-width:600px;"></iframe>
    @Html.Raw(Model.Layout.HtmlHeader)
    @Html.Raw(Model.Content)
    @Html.Raw(Model.Layout.FooterHtmlContent)
    @Html.Raw(Model.FooterJavaScript)
    <script>
        // The following is used to wireup the menu links to this page.
        function ccmsSetupIndexMenu() {
            let iframe = document.getElementById("ccmsIndexMenu");
            let iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                let anchors = iframeWin.document.querySelectorAll("a");
                anchors.forEach(function (el) {
                    el.onclick = function () {
                        window.location.href = el.href;
                    };
                });

                let btn = iframeWin.document.querySelector("#btnNavLogoutButton");

                btn.onclick = function () { 
                    document.frmIndexLogout.submit();
                };
            }
        };

    </script>
    <form name="frmIndexLogout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
    </form>
</body>
</html>