@model Cosmos.Cms.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;
}
<!DOCTYPE HTML>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    @Html.Raw(Model.Layout.Head)
    @*
    Page specific header
    *@
    @Html.Raw(Model.HeadJavaScript)
    @*
    Application Insights Scripts
    *@
    @Html.Raw(JavaScriptSnippet.FullScript)
    @*<script src="https://cdn.ckeditor.com/ckeditor5/35.2.0/inline/ckeditor.js"></script>*@
    <script src="/lib/ckeditor/build/ckeditor.js"></script>
</head>
<body>
    @Html.Raw(Model.Layout.HtmlHeader)
    <div ccms-content-id="@Model.Id">
        @Html.Raw(Model.Content)
    </div>
    @Html.Raw(Model.Layout.FooterHtmlContent)
    @*
    Page specific
    *@
    @Html.Raw(Model.FooterJavaScript)

    <script>

        // Create editors
        var editors = [];
        var editorsIndex = [];
        var unmoutCkBox;

        document.addEventListener("DOMContentLoaded", function (event) {
            createEditors();
        });

        function createEditors() {

            var editorDivs = document.querySelectorAll('[data-ccms-ceid]');

            editorDivs.forEach(function (e) {
                InlineEditor
                    .create(e,
                        {
                            simpleUpload: {
                                // The URL that the images are uploaded to.
                                uploadUrl: '/FileManager/SimpleUpload/@Model.ArticleNumber',
                                // Enable the XMLHttpRequest.withCredentials property.
                                withCredentials: true
                            }
                        }).catch(error => { console.error(error); });
            });
        }
    </script>
</body>
</html>