@using System.Reflection

@{
    var assemblyName = Assembly.GetExecutingAssembly().GetName();

    var isAuthor = false;
    var isEditor = false;
    var isAdministrator = false;

    if (User != null && User.IsInRole("Authors"))
    {
        isAuthor = true;
    }
    else if (User != null && User.IsInRole("Editors"))
    {
        isEditor = true;
    }
    else if (User != null && User.IsInRole("Administrators"))
    {
        isAdministrator = true;
    }
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 2;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img height="28" src="~/images/logos/cosmos-logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cosmos
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" onclick="bgEditClick('Save')">Save</a>
                        </li>
                        <li>
                            <a class="dropdown-item" onclick="bgEditClick('Files')">Files</a>
                        </li>
                        <li>
                            <a class="dropdown-item" onclick="bgEditClick('Preview')">Preview</a>
                        </li>
                        <li>
                            <a class="dropdown-item" onclick="bgEditClick('Close')">Close</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text text-muted ms-3">@assemblyName.Version</span>
            <span id="timeZone" class="navbar-text ms-3 me-3"></span>
            <div class="navbar-text">Title:</div>
            <input class="form-control ms-2 me-2" name="Title" id="Title" value="@Model.Title" />
            <div class="navbar-text">Published:</div>
            <input class="form-control ms-2 me-2" name="Published" id="Published" value="@Model.Published" />
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </div>
</nav>
<script>
    var next;
    var fileMgrPopup;
    var saveFirstModal = null;

    function bgEditClick(command) {

        if (saveFirstModal === null) {
            saveFirstModal = new bootstrap.Modal(document.getElementById('checkSaveFirst'));
        }

        switch (command) {
            case "Save":
                $("#frmSave").submit();
                break;
            
            case "Files":
                fileMgrPopup = window.open('@Url.Action("Popup", "FileManager")', '_blank', 'height=510,width=1200,menubar=no,location=no,status=no,titlebar=no,toolbar=no');
                break;
            
            case "Preview":
                next = function () {
                    window.open("@Url.Action("Preview", "Home", new {Model?.Id})");
                }
                $("#divSaveFirstDialog").html("Save page before opening preview?");
                saveFirstModal.show();
                break;
            default:
                bgEditClickCustom(e);
                break;
        }
    }

    function saveFirst() {
        saveChanges(saveFirstModal, next);
    }

    function doNotSave() {
        saveFirstModal.hide();
        next();
    }

    function getLocalTimeZone() {
        var datetime = new Date();
        var dateTimeString = datetime.toString();
        var timezone = dateTimeString.substring(dateTimeString.indexOf("(") - 1);
        return timezone;
    }

    $(document).ready(function () {
        var timeZoneElement = $("#timeZone");
        timeZoneElement.html(getLocalTimeZone());

        $('#Published').daterangepicker({
            timePicker: true,
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        });

        saveFirstModal = new bootstrap.Modal(document.getElementById('checkSaveFirst'));

    });

</script>

<div class="modal" id="modalSaving" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Saving Page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Saving page ...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalSavingError" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divErrorLog"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="checkSaveFirst" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save First?</h5>
            </div>
            <div class="modal-body">
                <div id="divSaveFirstDialog"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="saveFirst()" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" onclick="doNotSave()" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>