@using NonFactors.Mvc.Grid
@model IQueryable<Cosmos.BlobService.FileManagerEntry>
@{
    ViewData["Title"] = "Files List";

    var publisherUrl = ViewData["PublisherUrl"];
    var isReviewer = User.IsInRole("Reviewers");
    var canEdit = User.IsInRole("Administrators") || User.IsInRole("Editors");
}
<link href="~/lib/filepond/filepond.css" rel="stylesheet" />
<script src="~/js/clipboard.min.js"></script>
<div class="container mt-5 pt-2">
    <div class="row">
        <div class="col">
            <h3>@ViewData["Title"]</h3>
            <hr />
        </div>
    </div>
    @if (((string)@ViewData["PathPrefix"]).StartsWith("/pub"))
    {
        <div class="row">
            <div class="col-md-12">
                <!-- Filepond File Uploader -->
                <input type="file"
                   class="filepond"
                   id="filepond"
                   name="files" data-file-metadata-path="@ViewData["PathPrefix"]"
                   multiple>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            @(Html.Grid(Model)
                .Build(col =>
                {
                    col.Add().RenderedAs(r => r.IsDirectory ? "<a href='/FileManager/Index?target=" + r.Name +"'><i class='fa-solid fa-folder'></i></a>" : "<div><i class='fa-solid fa-file'></i></div>").Titled("").Width("30px").Encoded(false).Sortable(false).Filterable(false);
                    col.Add(r => r.Name).RenderedAs(r => r.IsDirectory ? "<a href='/FileManager/Index?target=" + r.Path + "'>" + r.Name + "</a>" : "<div>" + r.Name + r.Extension + "</div>").Titled("Name").Encoded(false);
                    col.Add(r => r.Modified).Titled("Modified").Css("toLocalTimeZone").Filterable(GridFilterType.Double).Width("220px");
                })
                .Using(NonFactors.Mvc.Grid.GridFilterMode.Header)
                .Empty("No pages found")
                .Filterable()
                .Sortable()
                .Pageable()
                )
        </div>
    </div>
</div>

<!-- Before the end of the body tag -->
<script src="~/lib/filepond-plugin-file-metadata/dist/filepond-plugin-file-metadata.min.js"></script>
<script src="~/lib/filepond/filepond.min.js"></script>

<script>
    // Get a reference to the file input element
    const inputElement = document.querySelector('input[type="file"]');

    // Register meta data Plug In
    FilePond.registerPlugin(FilePondPluginFileMetadata);

    // Create a FilePond instance
    const pond = FilePond.create(inputElement, {
        chunkUploads: true,
        chunkSize: 5242880, // bytes (5 MB) - AWS S3 multi upload requires 5 MB parts. Last part can be any size
        chunkForce: true
    });

    FilePond.setOptions({
        server: "@Url.Action("Process")"
    });

    // Event handlers
    document.addEventListener('FilePond:processfiles', (e) => {
        window.location.href = "@Url.Action("Index")?target=@ViewData["PathPrefix"]";
    });

    $(document).ready(function () {
        $(".toLocalTimeZone").each(function (index, element) {
            $(element).html(getLocalTime($(element).html()));
        });
    });
</script>